<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com ) -->

<!-- Languages  -->
<!-- <figure><embed src="https://wakatime.com/share/@40c5d4cf-45ca-41a5-83d3-461984e0c54c/55949e95-95ac-4330-8e1b-c7ef2e87b773.svg"></embed></figure> -->

<!-- Hours Coded -->
<figure>
    <embed src="https://wakatime.com/share/@40c5d4cf-45ca-41a5-83d3-461984e0c54c/55949e95-95ac-4330-8e1b-c7ef2e87b773.svg"></embed>
</figure>
<!-- 7 days -->
<figure><embed src="https://wakatime.com/share/@40c5d4cf-45ca-41a5-83d3-461984e0c54c/e43bb8bd-c880-424c-9b11-887534386843.svg"></embed></figure>



